<?php
function mysql_GET_ID($id){
        $link = mysql_connect('{{groups.dbs}}', '{{db_user}}', '{{db_user}}');
	if (!$link) {
		die('接続失敗です。'.mysql_error());
	}

	$db_selected = mysql_select_db('testdb', $link);
	if (!$db_selected){
		die('データベース選択失敗です。'.mysql_error());
	}
	
	$sql=sprintf('SELECT * FROM User WHERE id = %d;',$id);
	$result = mysql_query($sql);
	if (!$result) {
		die('GET_ID クエリーが失敗しました。'.mysql_error());
	}
	while ($row = mysql_fetch_assoc($result)) {
		$userData[]=array(
				'id'=>(int)$row['id'],
				'name'=>$row['name']
				);
	}
	echo json_encode($userData);
	echo "\n";
	$close_flag = mysql_close($link);
	if (!$close_flag){
		print('切断に失敗しました。');
	}
}
?>
